<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- for servinging http request to ajax.googleapi.com over https connection -->
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        
        <title>Resume Builder</title>
        <link rel = "icon" href ="images/logo.png" type = "image/x-icon"> 
        <link rel="stylesheet" href="css/styles.css">

        <ul class="topnav">
            {% block navbar %}
            {% endblock %}
        </ul>
        <h1>{% block heading %}{% endblock %}</h1>
    </head>
    <body>
        {% block body %}{% endblock %}
        <p id="footer">Made with &hearts; by Debdut Goswami</p>
    </body>
</html>