{% extends "base.html" %}
{% block navbar %}
<li class="nav-item active">
<a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="howtouse">How to Use</a>
</li>
<li class="nav-item">
<a class="nav-link" href="about">About</a>
</li>
{% endblock %}

{% block heading %}Resume Builder{% endblock %}

{% block body %}

<!-- duplicating the input fields in form -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#exp").on('click', '#addbtn',function(){
            $("#addrow").clone().find("input:text").val("").end().appendTo("#tb2");
        });
        $("#skills").on('click', '#skillbtn', function(){
            $("#sclone").clone().find("input:text").val("").end().appendTo('#skill-append');
        });
        $("#edu").on('click','#btnaddedu', function(){
            $("#addedu").clone().find("input:text").val("").end().appendTo("#tb1");
        });
        $('#projects').on('click', '#projbtn', function(){
            $('#addproj').clone().find("input:text").val("").end().appendTo('#proj');
        });
        $('#interest').on('click', '#interestbtn', function(){
            $('#iclone').clone().find("input:text").val("").end().appendTo('#interest-append');
        });
    });
</script>

<!-- Form -->
<form method="POST" action="/" id="f1" style="padding: 2%;">

    <!-- about -->
    <h2>About</h2>
    <div class="overflow-hidden">
        <label for="inputAbout">Tell us something about  yourself</label>
        <textarea name="about" id="inputAbout" class="form-control overflow-hidden" required></textarea><br>
    </div>

    <!-- Basic -->
    <h2>Basics</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName4">Name</label>
            <input type="text" name="name" class="form-control" id="inputName4" required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail4" required>
            <small id="inputEmail4" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPhone">Phone</label>
          <input type="number" id="inputPhone" name="phone" class="form-control" required>
        </div>
    </div>
    <br>

    <!-- Experience -->
    <h2>Experience</h2>
    <div class="experience" id="exp">
        <ul id="tb2">
            <li id="addrow">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputcompany">Comnpany</label>
                    <input type="text" class="form-control" name="cname" id="inputcompany">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputposition">Position</label>
                    <input type="text" name="cpos" class="form-control" id="inputposition">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputlocation">Location</label>
                    <input type="text" name="clocation" class="form-control" id="inputlocation">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputstart">Joining Date</label>
                    <input type="date" name="cstart" class="form-control" id="inputstart">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputend">Ending Date</label>
                    <input type="date" name="cend" class="form-control" id="inputend">
                    <small id="helpId" class="text-muted">If you are still working enter todays date</small>
                </div>
            </div>
            <div class="form-group">
                <label for="inputdescription">Description</label>
                <textarea id="inputdescription" class="form-control" type="text" name="cdescription"></textarea>
            </div>
            </li>
            <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="addbtn">
        </ul>
    </div>

    <!-- Projects -->
    <h2>Projects</h2>
    <div class="projects" id="projects">
        <ul id="proj">
            <li id="addproj">
                <div class="form-group">
                    <label for="inputproject">Comnpany</label>
                    <input type="text" class="form-control" name="pname" id="inputproject">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputstart">Starting Date</label>
                        <input type="date" name="pstart" class="form-control" id="inputstart">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputend">Ending Date</label>
                        <input type="date" name="pend" class="form-control" id="inputend">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputdescription">Description</label>
                    <textarea id="inputdescription" class="form-control" type="text" name="pdescription"></textarea>
                </div>
                <div class="form-group">
                  <label for="inputlink">Link</label>
                  <input type="url" name="plink" id="inputlink" class="form-control">
                </div>
                </li>
                <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="addbtn">
            </li>
        </ul>
        <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="projbtn">
    </div>

    <!-- Education -->
    <h2>Education</h2>
    <div class="education" id="edu">
        <ul id="tb1">
            <li id="addedu">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputclg">College/University Name</label>
                        <input type="text" name="clg" class="form-control" id="inputclg">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputgpa">GPA</label>
                        <input type="text" name="gpa" id="inputgpa" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputdegree">Degree</label>
                        <input type="text" name="degree" id="inputdegree" class="form-control">
                      </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputstart">Joining Date</label>
                        <input type="text" name="start" class="form-control" id="inputstart">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputend">Ending Date (expected)</label>
                        <input type="text" name="end" id="inputend" class="form-control">
                    </div>
                </div>
            </li>
        </ul>
        <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="btnaddedu">
    </div>

    <!-- Skills -->
    <h2>Skills &amp; Technologies</h2>
    <div class="skills" id="skills">
        <div id="skill-append" class="form-row">
            <div id="sclone" class="form-group col-md-2">
                <input type="text" name="skill" class="form-control" id="skill">
            </div>
        </div>
        <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="skillbtn">
    </div>

    <!-- interests / hobbies-->
    <h2>Interest / Hobbies</h2>
    <div class="interest" id="interest">
        <div id="interest-append" class="form-row">
            <div id="iclone" class="form-group col-md-2">
                <input type="text" name="interest" class="form-control" id="interest">
            </div>
        </div>
        <img src="../images/plus.png" alt="" style="width:25px;height:25px; border: 0;" id="interestbtn">
    </div>

    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Submit" style="text-align: center;">
</form>
{% endblock %}