<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{data['name']}}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" media="print" href="css/style-resume-print.css">
	<link rel="stylesheet" media="screen" href="css/style-resume-screen.css">
</head>

<body>

	<h1>{{data['name']}}</h1>

	<p id="bio_left">
		M - {{data['phone']}}<br />
		E - <a href="mailto:{{data['email']}}">{{data['email']}}</a>
	</p>
	<p id="bio_right">
		123 Any Street<br />City, State 99999</p>

	<h2>OBJECTIVE</h2>
	<p class="data">{{data['about']}}</p>

	<!-- experience -->
	{% if len_exp > 0 %}
	<h2>EXPERIENCE</h2>
	{% for i in range(0,len_exp) %}
	<div class="job">
		<p class="date">{{experience[i]['cstart']}} -<br> {{experience[i]['cend']}}</p>
		<div class="job_data">
			<h3>{{experience[i]['cname']}}</h3>
			<p class="location">{{experience[i]['clocation']}}</p>
			<p class="position">{{experience[i]['cpos']}}</p>
			<p>{{experience[i]['cdescription']}}</p>
			&nbsp;
		</div>
	</div>
	{% endfor %}
	{% endif %}

	<!-- project -->
	{% if len_projects > 0 %}
	<h2>PROJECT</h2>
	{% for i in range(0,len_projects) %}
	<div class="project">
		<p class="date">{{projects[i]['pstart']}} -<br> {{projects[i]['pend']}}</p>
		<div class="job_data">
			<h3>{{projects[i]['pname']}}</h3>
			<p class="location"></p>
			<p class="position">{{projects[i]['pdescription']}}</p>
			<a class="link" href="{{projects[i]['plink']}}">{{projects[i]['plink']}}</a>
			&nbsp;
		</div>
	</div>
	{% endfor %}
	{% endif %}

	<!-- education -->
	{% if len_edu %}
	<h2>EDUCATION</h2>
	{% for i in range(0,len_edu) %}
	<div class="edu">
		<p class="date">{{edu[i]['start']}} -<br> {{edu[i]['end']}}</p>
		<div class="edu_data">
			<h3>{{edu[i]['clg']}}</h3>
			<p class="location">{{edu[i]['gpa']}}</p>
			<p class="position">{{edu[i]['degree']}}</p>
			&nbsp;
		</div>
	</div>
	{% endfor %}
	{% endif %}

	<!-- skills -->
	{% if len_skills > 0 %}
	<h2>SKILLS &amp; TECHNOLOGIES</h2>
	<ul>
		{% for i in range(0,len_skills) %}
		<li>{{ skills[i] }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<!-- interests -->
	{% if len_interests > 0 %}
	<h2>INTERESTS / HOBBIES</h2>
	<ul>
		{% for i in range(0, len_interests) %}
		<li>{{interests[i]}}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<button onclick="myFunction()" class="dontprint">Print your resume</button>

	<script>
		function myFunction() {
 			window.print();
		}
	</script>
</body>

</html>