{% extends "base.html" %}
{% block navbar %}
<li><a class="active" href="/">Home</a></li>
<li><a href="howtouse">How to use</a></li>
<li><a class="right" href="about">About</a></li>
{% endblock %}

{% block heading %}Resume Builder{% endblock %}

{% block body %}
<form method="POST" action="/">
    <div class="basic">
        <h2>Basics</h2>
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="number" name="phone" placeholder="Enter your phone number" required>
    </div>
    
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}