{% extends "base.html" %}
{% block navbar %}
<li><a class="active" href="/">Home</a></li>
<li><a href="howtouse">How to use</a></li>
<li><a class="right" href="about">About</a></li>
{% endblock %}

{% block heading %}Resume Builder{% endblock %}

{% block body %}

<!-- duplicating the input fields in form -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#exp").on('click', '#addbtn',function(){
            $("#addrow").clone().find("input:text").val("").end().appendTo("#tb2");
        });
        $("#skills").on('click', '#skillbtn', function(){
            $("#sclone").clone().find("input:text").val("").end().appendTo('#skill-append');
        });
        $("#edu").on('click','#btnaddedu', function(){
            $("#addedu").clone().find("input:text").val("").end().appendTo("#tb1");
        });
        $('#projects').on('click', '#projbtn', function(){
            $('#addproj').clone().find("input:text").val("").end().appendTo('#proj');
        });
    });
</script>

<!-- Form -->
<form method="POST" action="/" id="f1">

    <!-- Basic -->
    <div class="personal" style="padding-left: 3%;padding-right: 3%;">
        <h2>Basics</h2>
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="number" name="phone" placeholder="Enter your phone number" required>
    </div>

    <!-- Experience -->
    <div class="experience" id="exp" style="padding-left: 3%; padding-right: 3%;">
        <h2>Experience</h2>
        <ul id="tb2">
            <li id="addrow">
                <input id="cname" type="text" name="cname" class="field-style field-split25 align-left" placeholder="Company Name" required/><br>
                <input id="cpos" type="text" name="cpos" class="field-style field-split25 align-left" placeholder="Position" required/>
                <input id="clocation" type="text" name="clocation" class="field-style field-split25 align-left" placeholder="Location" required/><br>
                <input id="cstart" type="text" name="cstart" class="field-style field-split25 align-left" placeholder="Start Date" required/>
                <input id="cend" type="text" name="cend" class="field-style field-split25 align-left" placeholder="End Date" required/><br>
                <input id="cdescription" type="text" name="cdescription" class="field-style field-split25 align-left" placeholder="Description" required/>
                <br><br>
            </li>
        </ul>
        <img src="{{ url_for('static', filename='images/plus.png') }}" alt="" style="width:25px;height:25px; border: 0;" id="addbtn">
    </div>

    <!-- Projects -->
    <div class="projects" id="projects" style="padding-left: 3%; padding-right: 3%;">
        <h2>Projects</h2>
        <ul id="proj">
            <li id="addproj">
                <input id="pname" type="text" name="cname" class="field-style field-split25 align-left" placeholder="Company Name" required/><br>
                <input id="pstart" type="text" name="cstart" class="field-style field-split25 align-left" placeholder="Start Date" required/>
                <input id="pend" type="text" name="cend" class="field-style field-split25 align-left" placeholder="End Date" required/><br>
                <input id="pdescription" type="text" name="cdescription" class="field-style field-split25 align-left" placeholder="Description" required/><br>
                <input id="plink" type="url" name="plink" class="field-style field-split25 align-left" placeholder="Link" required/>
                <br><br>
            </li>
        </ul>
        <img src="{{ url_for('static', filename='images/plus.png') }}" alt="" style="width:25px;height:25px; border: 0;" id="projbtn">
    </div>

    <!-- Education -->
    <div class="education" id="edu" style="padding-left: 3%; padding-right: 3%;">
        <h2>Education</h2>
        <ul id="tb1">
            <li id="addedu">
                <input name="clg"  type="text" placeholder="College/University Name" required>
                <input name="gpa" type="text" placeholder="GPA" required><br>
                <input name="degree" type="text" placeholder="Degree" required><br>
                <input name="start" type="text" placeholder="Start Date" required>
                <input name="end" type="text" placeholder="Ending Date (expected)" required>
                <br><br>
            </li>
        </ul>
        <img src="{{ url_for('static', filename='images/plus.png') }}" alt="" style="width:25px;height:25px; border: 0;" id="btnaddedu">
    </div>

    <!-- Skills -->
    <div class="skills" id="skills" style="padding-left: 3%;padding-right: 3%;">
        <h2>Skills &amp; Technologies</h2>
        <div id="skill-append">
            <div id="sclone">
            <input type="text" name="skill" id="skill" placeholder="Enter your skills" required>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/plus.png') }}" alt="" style="width:25px;height:25px; border: 0;" id="skillbtn">
    </div>

    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}